:root {
    --bg-1: #252656;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/****************************************
 * NAVBAR
 ***************************************/
.navbar-brand {
    font-family: "JetBrains Mono", monospace;
}

/****************************************
 * HOME PAGE
 ***************************************/
.bg-image {
    background-image: url("/images/bg-home-page.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    margin-top: 3.5em;
    padding: 5em;
}

.divider {
    margin: 1em auto;
    border: 0;
    border-radius: 5px;
    border-top: 2px solid white;

    width: 16em;
}

.fs-name-1,
.fs-name-2 {
    margin: 0;
    line-height: 1em;
}

.fs-name-1 {
    font-size: 5.3rem;
}

.fs-name-2 {
    font-size: 2.7rem;
}

.fs-work-1,
.fs-work-2 {
    margin: 0;
    line-height: 1em;
}

.fs-work-1 {
    font-size: 3.3rem;
}

.fs-work-2 {
    font-size: 1.4rem;
}

@media (min-width: 576px) {
    .divider {
        border-top: 3px solid white;
    }
    
    .fs-name-1 {
        font-size: 8rem;
    }
    
    .fs-name-2 {
        font-size: 4.1rem;
    }

    .fs-work-1 {
        font-size: 5rem;
    }
    
    .fs-work-2 {
        font-size: 2.1rem;
    }

    .divider {
        width: 25em;
    }
}

@media (min-width: 768px) {
    .bg-image {
        padding: 14em;
    }

    .divider {
        border-top: 4px solid white;
    }

    .fs-name-1 {
        font-size: 15rem;
    }
    
    .fs-name-2 {
        font-size: 7.5rem;
    }

    .fs-work-1 {
        font-size: 9rem;
    }
    
    .fs-work-2 {
        font-size: 3.8rem;
    }

    .divider {
        width: 45em;
    }
}

@media (min-width: 1200px) {
    .divider {
        border-top: 5px solid white;
    }

    .fs-name-1 {
        font-size: 18rem;
    }
    
    .fs-name-2 {
        font-size: 9.1rem;
    }

    .fs-work-1 {
        font-size: 11rem;
    }
    
    .fs-work-2 {
        font-size: 4.7rem;
    }

    .divider {
        width: 55em;
    }
}

/****************************************
 * ABOUT PAGE
 ***************************************/
 .about {
    background: var(--bg-1);
 }

.section-title {
    height: 5em;
    margin: 0;
}

.section-title span {
    font-weight: 700;
    color: orange;
}

.section-title .front {
    position: relative;
    top: 1.3em;
    font-size: 2.5rem;
}

.section-title .behind {
    position: relative;
    bottom: 0.23em;
    font-size: 5rem;
    opacity: .20;
}

.subsection-title {
    height: 3em;
    margin: 0;
}

.subsection-title span {
    font-weight: 700;
    color: orange;
}

.subsection-title .front {
    position: relative;
    top: 1em;
    font-size: 1.5rem;
}

.subsection-title .behind {
    position: relative;
    bottom: 0.43em;
    font-size: 3rem;
    opacity: .20;
}

.brief {
    max-width: 80em;
}

.brief img {
    display: block;
    filter: drop-shadow(0.5em 0.5em orange);
    margin: 1em auto;
    max-height: 20em;
}

.brief p {
    font-size: 1.2rem;
    color: white;
    text-align: justify;
}

.brief span {
    color: orange;
}

@media (min-width: 576px) {
    .section-title {
        height: 8em;
    }

    .section-title .front {
        font-size: 4rem;
    }
    
    .section-title .behind {
        font-size: 8rem;
    }

    .subsection-title {
        height: 4em;
    }

    .subsection-title .front {
        font-size: 3rem;
        top: 0.8em;
    }
    
    .subsection-title .behind {
        font-size: 6rem;
        bottom: 0.47em;
    }

    .brief img {
        float: left;
        height: 15em;
        margin-right: 2em;
    }

    .brief p {
        font-size: 1.8rem;
    }
}

@media (min-width: 768px) {
    .section-title {
        height: 12em;
    }

    .section-title .front {
        font-size: 6rem;
    }
    
    .section-title .behind {
        font-size: 12rem;
    }

    .subsection-title {
        height: 8em;
    }

    .subsection-title .front {
        font-size: 4rem;
        top: 1.1em;
    }
    
    .subsection-title .behind {
        font-size: 8rem;
        bottom: 0.35em;
    }

    .brief img {
        height: 20em;
    }
}