.about {
    background: var(--bg-1);
}

.bio {
    // max-width: 80em;

    img {
        display: block;
        filter: drop-shadow(0.5em 0.5em orange);
        margin: 1em auto;
        max-height: 18em;
    }

    p {
        font-size: 1.4rem;
        color: var(--text-1);
        text-align: justify;
    }

    span {
        color: var(--text-2);
    }
}

.carouselEducation {
    .carousel-item {
        height: 18em;

        @media (min-width: 576px) {
            height: 24em;
        }

        @media (min-width: 768px) {
            height: 30em;
        }

        @media (min-width: 1200px) {
            height: 36em;
        }

        @media (min-width: 1400px) {
            height: 54em;
        }
    
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    
        h4, p {
            background-color: orange;
        }

        h4 {
            font-size: 1.6rem;
    
            @media (min-width: 768px) {
                font-size: 2rem;
            }
    
            @media (min-width: 1200px) {
                font-size: 2.6rem;
            }
        }

        p {
            font-size: 1rem;

            @media (min-width: 768px) {
                font-size: 1.4rem;
            }
    
            @media (min-width: 1200px) {
                font-size: 2rem;
            }
        }
    }
}

.resume-subsection {
    span {
        color: orange;
    }

    h5, p {
        color: lightgrey;
    }

    h4 {
        font-size: 1.6rem;

        @media (min-width: 1200px) {
            font-size: 2rem;
        }
    }

    h5, p {
        font-size: 1rem;

        @media (min-width: 1200px) {
            font-size: 1.4rem;
        }
    }
}