.portfolio {
    background: var(--bg-1);

    .card {
        background: #211F33;
        transition: background 300ms ease;

        height: 30em;
        max-width: 20em;
    }

    .card:hover {
        background: orange;
        transition: background 300ms ease;

        cursor: pointer;
    }
}