.skills {
    background: var(--bg-2);

    .skill-container {
        border-left: 4px solid orange;
        border-radius: 2px;

        @media (min-width: 768px) {
            border-left: 6px solid orange;
            border-radius: 3px;
        }

        @media (min-width: 1200px) {
            border-left: 8px solid orange;
            border-radius: 4px;
        }

        background: var(--bg-2);
        transition: background 500ms ease;

        h3 {
            font-size: 1.5rem;
    
            @media (min-width: 768px) {
                font-size: 3rem;
            }
        }

        img {
            max-height: 2em;
    
            @media (min-width: 768px) {
                max-height: 4em;
            }
        }

        h4 {
            color: white;
            font-family: var(--ff-2);
            font-weight: 700;
        }

        .progress {
            height: 10px;
    
            @media (min-width: 768px) {
                height: 15px;
            }
        }
    }

    .skill-container:hover {
        background: #211F33;
        transition: background 500ms ease;
    }
}