.work {
    background: var(--bg-1);

    span {
        color: orange;
    }

    h3, h4 {
        text-align: start;
    }

    p {
        text-align: justify;
    }

    h4, p {
        color: lightgrey;
    }

    h3 {
        font-size: 1.6rem;

        @media (min-width: 1200px) {
            font-size: 2rem;
        }
    }

    h4, p {
        font-size: 1rem;

        @media (min-width: 1200px) {
            font-size: 1.4rem;
        }
    } 
}