.about {
    background: var(--bg-1);
}

.brief {
    max-width: 80em;

    img {
        display: block;
        filter: drop-shadow(0.5em 0.5em orange);
        margin: 1em auto;
        max-height: 18em;
    }

    p {
        font-size: 1.6rem;
        color: var(--text-1);
        text-align: justify;
    }

    span {
        color: var(--text-2);
    }
}

.card-title {
    font-size: 2.4rem;
}

.card-text {
    font-size: 1.6rem;
    color: var(--text-1);
}

.card-header {
    font-size: 1.6rem;
}